@media (max-width: 690px) {
    header .menu1{
        visibility: hidden;
    }

    .banner-image {
        content: url('/src/img/img-banner_v2.png');
        width: 100%;
        height: 95vw;
    }

    .smart_nav{
        visibility: visible;
    }

    .smart_nav nav.menu_side {
        visibility: hidden;
    }

    .smart_nav nav.menu_side.expend {
        visibility: visible;
        height: 100vh;
        width: 75vw;
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        background-color: #003431;
    }

    header .menu2{
        margin-top: 1.3vh;
        margin-right: 5vh;
        font-weight: bolder;
        gap: 5vh;
        font-size: 4vh;
    }

}

@media (max-width: 415px) {
    .banner-image {
        margin-top: 5vh;
        height: 93vw;
    }
    
    header img.img,
    header hr{
        visibility: hidden;
    }
}