@media (max-width: 690px) {
    header .menu1{
        visibility: hidden;
    }

    .banner-image {
        margin-top: 2.5vh;
        content: url('/src/img/img-banner_v2.png');
        width: 100%;
        height: 91.6vw;
    }

    main .main{
        display: block;
    }

    video{
        width: 88.8vw;
        height: 50vw;
        margin-left: 50%;
        transform: translate(-50%);
    }

    main .text{
        margin-left: 50%;
        transform: translate(-50%);
        width: 90vw;
    }
    
    main .text h1 {
        font-size: 7vw;
    }

    main .text p {
        font-size: 5vw;
    }

    .smart_nav{
        visibility: visible;
    }

    .smart_nav nav.menu_side {
        visibility: hidden;
    }

    .smart_nav nav.menu_side.expend {
        visibility: visible;
        height: 100vh;
        width: 75vw;
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        background-color: #003431;
    }

    header .menu2{
        margin-top: 1.3vh;
        margin-right: 5vh;
        font-weight: bolder;
        gap: 5vh;
        font-size: 4vh;
    }
}

@media (max-width: 415px) {
    header img.img,
    header hr{
        visibility: hidden;
    }
}