main {
    background-color: #00132f;
    margin-top: -0.8vh;
    text-align: justify;
    height: 800px;
    display: none;
}

main .main {
    width: 100%;
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .text {
    width: 47%;
}

main .text h1 {
    text-align: center;
    font-size: 9vh;
    margin-bottom: 3vh;
}

main .text p {
    font-size: 5vh;
}

main .secondary {
    visibility: hidden;
    margin-left: 30px;
    gap: 45px;
	display: flex;
}

main .secondary .first-quadrant,
.second-quadrant,
.third-quadrant{
    width: 100vh;
}

main .secondary img {
    border-radius: 25px;
}

main .secondary h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

main .secondary p {
    font-size: 16px;
}

video {
    margin-right: 4.8vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 25px;
    width: 46vw;
    height: 25.9vw;
}