header {
	width: 100vw;
	height: 7.5vh;
	background-color: #000000;
	display: flex;
    position: fixed;
    z-index: 1000;
	justify-content: space-between;
}

header .logo {
	margin: 0;
	display: flex;
    gap: 2.5vh;
}

header hr {
	height: 7.5vh;
	border: 1px solid #ffffff;
}

header img.icon {
	margin-top: 0.7vh;
	margin-left: 1vh;
    width: 6vh;
    height: 6vh;
}

header img.img {
    width: 300px;
}

header .menu1{
	position: fixed;
	margin-top: 1.3vh;
	right: 10px;
	display: flex;
	font-weight: bolder;
	gap: 5vh;
    font-size: 4vh;
}

header .menu1 li a:hover {
	border-bottom: 2px solid #fff;
}

.banner-image {
	margin-top: -20px;
	height: 47.7vw;
	width: 100%;
}

.smart_nav{
	visibility: hidden;
}

.smart_nav .icon {
	position: fixed;
	margin-top: 0.6vh;
	right: 7px;
	cursor: pointer;
	text-overflow: unset;
}

header .menu2 li {
	margin-left: 2vh;
	margin-top: 2vh;
}

header .menu2 .out {
	cursor: pointer;
	position: relative;
	width: 5vh;
	right: -41vh;
	top: -18.5vh;
}